@import "../../node_modules/bootstrap/scss/mixins/lists";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/mixins/container";
@import "../../node_modules/bootstrap/scss/mixins/grid";
@import "../../node_modules/bootstrap/scss/mixins/utilities";

@mixin list($margin, $padding, $style) {
  margin: $margin;
  padding: $padding;
  list-style: $style;
}

@mixin fs($value) {
  font-size: #{$value / 16}rem;
}

@mixin beforeafter($content, $display) {
  content: $content;
  display: $display;
}

@mixin clear() {
  @include beforeafter('', table);
  clear: both;
}

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin lineclamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
